# Build and Release Folders
bin-debug/
bin-release/

*/__pycache__
[Oo]bj/
[Bb]in/

# Other files and folders
.settings/

# Executables
*.swf
*.air
*.ipa
*.apk
*.so
*.pyc
*.pyd
*.so
# gpu lock
*.glock
*.mp3
*.png

# pytorch model
*.pt
__pycache__/
result
.vscode/settings.json
checkpoint/
PROFILE/
RECYCLE/
TEMP/
result.prof
ignore
bvrAI.log
dist
vhmap.egg-info
build